<%- include("../partials/header.ejs") %>

<div class="single-post">
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>

  <div class="post-actions">
    <a href="/edit/<%= post.id %>" class="button edit-button">Edit Post</a>
    <form action="/delete/<%= post.id %>" method="POST" class="delete-form">
      <button type="submit" class="button delete-button">Delete Post</button>
    </form>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
